@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./assets/fonts/HankenGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --bg: #FFFFFF;
  --dark_bg: #181A1D;
  --dark: #000000;
  --dark_90: rgba(0, 0, 0, 0.9);
  --dark_80: rgba(0, 0, 0, 0.8);
  --dark_70: rgba(0, 0, 0, 0.7);
  --dark_60: rgba(0, 0, 0, 0.6);
  --dark_50: rgba(0, 0, 0, 0.5);
  --dark_40: rgba(0, 0, 0, 0.4);
  --dark_30: rgba(0, 0, 0, 0.3);
  --dark_20: rgba(0, 0, 0, 0.2);
  --dark_10: rgba(0, 0, 0, 0.1);

  --light_bg: #F9F9F9;
  --light: #FFFFFF;
  --light_contrast: #dbe0e6;
  --light_90: rgba(220, 225, 231, 0.9);
  --light_80: rgba(220, 225, 231, 0.8);
  --light_70: rgba(220, 225, 231, 0.7);
  --light_60: rgba(220, 225, 231, 0.6);
  --light_50: rgba(220, 225, 231, 0.5);
  --light_40: rgba(220, 225, 231, 0.4);
  --light_30: rgba(220, 225, 231, 0.3);
  --light_20: rgba(220, 225, 231, 0.2);
  --light_10: rgba(220, 225, 231, 0.1);

  --canvas_bg: #151515;
  --canvas_dots: #333333;
  --border_color: #252525;
  --foreground: #171717;

  --green: hsl(106deg 100% 71%);
  --red: hsl(360deg 100% 71%);
  --blue: hsl(202deg 100% 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: var(--dark_bg);
  color: var(--light);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
